[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
simple-websocket = "*"
flask = "*"
requests = "*"
pysimplegui = "*"

[dev-packages]

[requires]
python_version = "3.8"
