<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{{ url_for('static', filename='brain.png')}}">
  {% block head %} {% endblock %}
</head>
<body>
 <nav class="navbar-expand-sm bg-light">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
        <li class="navbar-brand"><a class="nav-link text-dark" href="{{ url_for('home') }}"><img width='50%'  src="{{ url_for('static', filename='brain.png')}}" alt="">My Mind</a></li>
        <li class="nav-item"><a class="nav-link text-dark" href="{{ 'https://github.com/AlmirPaulo/My_Mind/blob/main/README.md' }}">About</a></li>
      <!-- <li class="nav-item"><a class="nav-link text-dark" href="">Share</a></li> -->
      <li class="nav-item"><a class="nav-link text-dark" href="{{ url_for('guide') }}">User Guide</a></li>
      <!-- <li class="nav-item"><a class="nav-link text-dark" href="">Settings</a></li> -->
      <!-- <li class="nav-item"><a class="nav-link" href="">Buy me a Coffee</a></li> -->
      <li class="nav-item">
          <form action={{ url_for('find') }}>
            <div class="row m-2">
                <div class="col-10">
                    <input class="form-control" name="find" type="text" placeholder="Create or find a project">
                </div>
                <div class="col-2">
                    <button class="btn btn-primary btn-sm">Go!</button>
                </div>
                {% with msgs  =  get_flashed_messages() %}
                {% if msgs %}
                {% for msg in msgs %}
                <span class="text-danger">{{ err }}</span>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
         </form>
      </li>
    </ul>
  </div>
 </nav>
 {% block content %} {% endblock %}
 <footer class="container text-muted">
     <div>Icons made by <a href="https://smashicons.com/" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
 </footer>
</html>
